@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.allerta-regular {
  font-family: "Allerta", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  } */
}

h1, h2, h3, h4, h5 {
    font-family: Allerta, Arial, Helvetica, sans-serif;
}

body {
  /* background: var(--background); */
  background-image: url('../../public/nasa-space.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  color: var(--foreground);
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

#donation-buttons a,
.btn {
    /* background: #72140c; */
    background-image: linear-gradient(180deg, #72140c 1%, #222 100%);
}

#donation-buttons a:hover,
.btn:hover {
    /* background: #72140c; */
    background-image: radial-gradient(ellipse at center, #72140c 10%, #222 100%); 
}

.twitch-embed-container[data-active="false"] #twitch-embed {
    display: none;
}

/* photos gallery */

.gap-2 > .stretch-double-row-height .h-full {
    height: calc(100% + calc(var(--spacing) * 2));
}
.gap-3 > .stretch-double-row-height .h-full {
    height: calc(100% + calc(var(--spacing) * 3));
}
.gap-4 > .stretch-double-row-height .h-full {
    height: calc(100% + calc(var(--spacing) * 4));
}
.gap-6 > .stretch-double-row-height .h-full {
    height: calc(100% + calc(var(--spacing) * 6));
}
.gap-8 > .stretch-double-row-height .h-full {
    height: calc(100% + calc(var(--spacing) * 8));
}

[data-hover="img-tile"] {
    transition: all 0.3s ease;
    cursor: pointer;
}

[data-hover="img-tile"]:hover {
    transform: scale(1.05);
    transition: all 0.3s ease;
    position: relative;
    z-index: 10;
}